*{
    margin: 0px;
    padding: 0px;

    
}
.block{
    display: flex;
    flex-wrap: wrap;
margin-top: 61px;
justify-content: center;
}
.text{
    text-align: center;
    margin-top: 66px;

}
.img_2{
    padding-top: 30px;
    border: 3px solid rgb(206, 206, 206);
    width: 270px;
    height: 349px;
 margin-left: 30px;
 
}

.text_2{
    padding-top: 46px;
    padding-bottom: 39px;
}
.block_2{
    display: flex;
        flex-wrap: wrap;

margin-top: 20px;
justify-content: center;
}
.text_3{
    color: red;
    margin-right: 5px;
}
.cup{
    width: 100%

    
}
    