* {
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
    color: black;
}

img {
    max-width: 100%;
}

.header {
    padding: 22px 0px;
    background-color: #f1f1f1;
    position: fixed;
    width: 100%;
    left: 0;
    top: 0;
    z-index: 10;
}

.header-container {
    display: flex;
    justify-content: space-between;
    max-width: 1140px;
    margin: auto;
}

.nav-link {
    text-decoration: none;
    margin-left: 11px;
    margin-right: 11px;
    color: black;
    font-size: 14px;
    font-weight: 400;

}

.logo {
    text-transform: uppercase;
    font-weight: 700;
}

.login {
    color: black;
    text-decoration: none;
}

.hero {
    margin-top: 60px;
    padding-top: 62px;
    padding-bottom: 71px;

}

.hero-conteiner {
    display: flex;
    max-width: 1140px;
    margin: auto;
    align-items: center;

}

.img-block {
    position: relative;
    margin-right: 122px;


}

.sale-lable {
    font-size: 18px;
    font-weight: 500;
    color: white;
    background-color: red;
    padding: 10px 10px;
    position: absolute;
    right: 0;
    top: 23px;
}

.autor {
    display: block;
    font-size: 30px;
    font-weight: 400;
    margin-bottom: 22px;

}

.title {
    font-size: 54px;
    font-weight: 700;
    margin-top: 0;
}

.sep-title {
    display: block;
    font-size: 20px;
    margin-bottom: 48px;
}

.info {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 48px;

}

.info-text {
    flex-basis: 50%;
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 16px;
}

.price {
    display: flex;
    align-items: center;
    margin-bottom: 40px;
}

.pricetag {
    font-size: 52px;
    font-weight: 400;
    margin-right: 60px;
}

.favorites {
    text-decoration: none;
    color: inherit;
}

.button {
    text-decoration: none;
    padding: 22px 60px;
    font-weight: 700;
}

.button-primary {
    border-radius: 5px;
    margin-right: 20px;
}

.button-1 {
    border: 2px solid black;
    background-color: black;
    color: #f1f1f1;

}

/* о книге */
.about {
    background-color: #f1f1f1;
    padding: 99px 0px;
}

.about-conteiner {
    display: flex;
    justify-content: space-between;
    max-width: 1140px;
    margin: auto;
    align-items: flex-start;

}

.about-book {
    max-width: 464px;



}

.about-author {
    display: flex;
    flex-wrap: wrap;
    padding: 68px 53px;
    max-width: 552px;
    background-color: white;
    border: 1px solid #f3f3f3;
    border-radius: 10px;
    align-items: center;

}

.author-avatar {
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 50%;
    margin-right: 21px;
}

.autor-name {
    margin: 0;

}

.footer {
    background-color: #f1f1f1;
    padding-bottom: 93px;
    padding-top: 60px;
}

.footer-conteiner {
    max-width: 1140px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.footer-list {
    padding: 0;
    list-style: none;
}

.list-item {
    padding-bottom: 16px;
}

.footer-title {
    font-size: 23px;
    font-weight: 700;
    margin-top: 0px;
    margin-bottom: 32px;
}

.footer-link {
    color: inherit;
    text-decoration: none;

}

.text-readers {
    max-width: 1140px;
    margin: auto;
    padding-top: 61px;
    margin-bottom: 109px;

}

.img-readers {
    margin-top: 50px;
}

.img-readers1 {
    padding: 15px 15px;
    width: 165px;
    height: 165px;
}

.to-top {
    position: fixed;
    bottom: 0;
    right: 0;
}

.section-title {
    margin-top: 0px;
    margin-bottom: 35px;
}

@media (max-width: 1200px) {

    .header-container,
    .hero-conteiner,
    .about-conteiner,
    .text-readers,
    .footer-conteiner {
        max-width: 950px;
    }

    .img-block {
        margin-right: 30px;
        max-width: 390px;
        min-width: 390px;
    }

    .text-readers {
        padding-top: 94px;
    }

    .about-book {
        max-width: 367px;
    }

    .img-readers1 {
        width: 139px;
        height: 139px;
    }

}

@media (max-width: 992px) {

    .header-container,
    .hero-conteiner,
    .about-conteiner,
    .text-readers,
    .footer-conteiner {
        max-width: 760px;
    }

    .img-block {
        min-width: 300px;
        max-width: 300px;
    }

    .button {
        padding: 19px 40px;
    }

    .nav {
        display: none;

    }

    .autor {
        font-size: 22px;
        margin-bottom: 13px;
    }

    .info {
        margin-bottom: 39px;
    }

    .title {
        font-size: 46px;
        margin-bottom: 10px;
    }

    .sep-title {
        font-size: 24px;
        margin-bottom: 40px;
    }

    .age .format {
        flex-grow: 1;
    }

    .section-title {
        font-size: 24px;
        margin-bottom: 29px;
    }

    .about-conteiner {
        flex-wrap: wrap;
    }

    .about-book {
        max-width: 100%;
        margin-bottom: 62px;
    }

    .img-none {
        display: none;
    }

    .img-readers1 {
        width: 160px;
        height: 160px;
    }
}

@media(max-width: 768px) {

    .header-container,
    .hero-conteiner,
    .about-conteiner,
    .text-readers,
    .footer-conteiner {
        max-width: 560px;
    }

    .hero {
        padding-top: 40px;
    }

    .hero-conteiner {
        flex-wrap: wrap;
    }

    .img-block {
        min-width: 100%;
        margin-bottom: 60px;
    }

    .hero-image {
        width: 100%;
    }

    .img-ext {
        display: none;
    }

    .information {
        flex-basis: 100%;
        margin-bottom: 30px;
        margin-right: 0;
    }
}

@media(max-width:576px) {

    .header-container,
    .hero-conteiner,
    .about-conteiner,
    .text-readers,
    .footer-conteiner {
        max-width: 95%;
    }

    .recvisition,
    .information {
        font-size: 13px;
    }

    .footer-title {
        font-size: 20px;
    }

    .autor {
        font-size: 18px;
        margin-bottom: 16px;
    }

    .title {
        font-style: 36px;
        margin-bottom: 19px;
    }

    .sep-title {
        font-size: 20px;
        margin-bottom: 30px;
    }

    .info {
        flex-wrap: wrap;
        margin-bottom: 17px;
    }

    .info-text {
        flex-basis: 100%;
        margin-bottom: 19px;
    }

    .button {
        width: 100%;
        display: inline-block;
        text-align: center;

    }

    .button-primary {
        margin-right: 0px;
        margin-bottom: 20px;
    }

    .about-author {
        padding: 54px 44px;
    }

    .author-text {
        font-size: 14px;
    }

    .author-avatar {
        width: 64px;
        height: 64px;

    }

    .recvisition,
    .information {
        flex-basis: 100%;
        margin-bottom: 30px;
        margin-right: 0;
    }
}
